@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

/*------------------------------header related section------------------------------*/
.brandlogo {
  width: 135px;
  border-radius: 50%;
  /*box-shadow: 4px 4px 20px rgb(211, 202, 202);*/
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;
  margin-bottom: 25vh;
}
/*------------------------------END of header related section------------------------------*/
/*------------------------------parallaxing section------------------------------*/
.smolbackground {
  background: #ffead7;
  position: absolute;
  top: 1;
  right: 100;
  bottom: 1;
  left: 100;
  z-index: -1;
}
.rotating {
  text-align: center;
  transition: inherit;
}
/*------------------------------END of parallaxing section------------------------------*/
/*------------------------------top nav section------------------------------*/

/*------------------------------end of topnav section------------------------------*/
/*------------------------DROPDOWN SECTION---------------------------------*/

/*-------------------------END OF DROPDOWN SECTION--------------------------------*/
/*----------------------Image Stuff------------------------------*/

/*----------------------Image Stuff END------------------------------*/
/*----------------------Flex Stuff------------------------------*/

/*----------------------Flex Stuff End ------------------------------*/
.content {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 40px;
}
body {
  overflow: hidden;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  background: #ffead7;
}


