.main-content{
  height: 100%;
}
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(https://pbs.twimg.com/media/Ex8ITcfXEAE5bL3?format=jpg&name=large);
    height: 100%;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .heroI2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(https://pbs.twimg.com/media/Ex8ITchXIAQC0-r?format=jpg&name=large);
    height: 100%;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .heroI3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/0db7cbf4-c9f3-417f-b837-fd7b97971037/dcnci99-e62c4f19-6b9a-40ae-b6f6-80f8036a9cc7.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzBkYjdjYmY0LWM5ZjMtNDE3Zi1iODM3LWZkN2I5Nzk3MTAzN1wvZGNuY2k5OS1lNjJjNGYxOS02YjlhLTQwYWUtYjZmNi04MGY4MDM2YTljYzcuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.LwujWIRYgRpSDasaYtTYFB4GM9YEr3QXtZCR1TuHdtg);
    height: 100%;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .heroI4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url(https://pbs.twimg.com/media/Ex8ITcdXEAUToz3?format=jpg&name=large);
    height: 100%;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  .txt-sect {
    text-align: center;
    position: relative;
    min-height: 20vh;
    padding: 60px;
    margin: auto;
    background-color: #FFAF77;
    color: #ffffff;
  }
  